        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #121212;
        }

        .leo-flex {
            display: flex;
            gap: 50px;
            width: 85%;
            /* border: thick solid blue; */
            margin: auto;
        }

        .banking {
            /* border: thick solid blue; */
            height: 550px;
            border-radius: 10px;
            width: 500px;
            background-color: black;
        }

        .first-h2 {
            color: rgb(250, 250, 250);
            padding-top: 5px;
        }

        .abi {
            width: 90%;
            margin: auto;
        }

        @media (max-width: 1216px) {
            .abi {
                width: 95%;
            }
        }

        @media (max-width: 884px) {
            .abi {
                width: 100%;
                padding: 0 10px;
            }
        }

        @media (max-width: 480px) {
            .abi {
                width: 100%;
                padding: 0 5px;
            }
        }
        .abi-p {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(163, 163, 163);
        }

        .first-a {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: rgb(255, 255, 255);
            text-decoration: none;

        }

        .first-a::after {
            content: '';
            width: 0%;
            height: 2px;
            background: red;
            display: block;
            transition: 0.5s;
        }

        .first-a:hover::after {
            width: 130px;
        }

        .first-a:hover {
            color: red;
            transition: 0.9s;
        }

        .second-a {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }

        .second-a::after {
            content: '';
            width: 0%;
            height: 2px;
            background: red;
            color: red;
            display: block;
            transition: 0.5s;
        }

        .second-a:hover::after {
            width: 150px;
        }

        .second-a:hover {
            color: red;
            transition: 0.9s;
        }

        .container-flex {
            padding-top: 10px;
            display: flex;
            gap: 20px;
        }

        .Opening {
            width: 500px;
            height: 400px;
        }

        .banking-two {
            height: 550px;
            border-radius: 10px;
            width: 500px;
            background-color: black;
        }

        .second-h2 {
            color: rgb(250, 250, 250);
            padding-top: 5px;
        }

        .abi-two {
            width: 90%;
            margin: auto;
        }

        .abi-secondp {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(163, 163, 163);
        }

        .third-a {
            padding-top: 30px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: rgb(255, 255, 255);
            text-decoration: none;

        }

        .container-flextwo {
            padding-top: 30px;
        }

        .third-a::after {
            content: '';
            width: 0%;
            height: 2px;
            background: red;
            display: block;
            transition: 0.5s;
        }

        .third-a:hover::after {
            width: 90px;
        }

        .third-a:hover {
            color: red;
            transition: 0.9s;
        }

        .Opening-two {
            width: 500px;
            height: 350px;
        }

        .Opening-two-div {
            padding-top: 60px;
        }

        .container-parent {
            padding-top: 20px;
        }

        .container {
            display: flex;
            gap: 5px;
            padding: 10px 30px;
            border-radius: 10px;
            width: 900px;
            margin: auto;
            background-color: #2F2F2F;
        }

        .share-container {
            background-color: black;
            padding: 10px 20px;
            text-align: center;
            width: fit-content;
            border-radius: 10px;
            transition-property: all;
            transition-duration: 1s;
        }

        .share-container:hover {
            background-color: red;
        }

        .img-one {
            width: 30px;
        }

        .img-one:hover {
            /* background-color: white; */
        }

        .uba-shares {
            text-wrap: nowrap;
            color: white;
            text-align: center;
            text-decoration: none;
        }

        .share-container>p {
            max-width: 108px;
            min-width: 100px;
        }


        @media (max-width:1216px) {
            .leo-flex {
                flex-direction: column;
                width: 90%;
                margin: auto;
            }

            .banking,
            .banking-two {
                width: 100%;
                margin: auto;
            }

            .Opening {
                width: 90%;
                height: auto;
            }

            .Opening-two {
                width: 70%;
                height: auto;
            }
            .padding-top-div{
                flex-direction: column;
                width: 100%;
                /* border: thick solid wheat; */
            }
            .padding-top-div-two{
                flex-direction: column;
                width: 100%;
                /* border: thick solid wheat; */
            }
            .main-color-div-two{
                flex-direction: column;
                width: 90%;
                margin: auto;
                border:  thick solid blue;
            }
            .dd{
                flex-direction: column;
            }
            .main-color-div{
                 /* flex-direction: column; */
                width: 90%;
                margin: auto;
                border:  thick solid blue;
            }

            .wrapper{
                flex-direction: column;
            }
            .news-div{
                flex-direction: column;
            }
            
        }
        
        @media (max-width: 884px) {
            .ooo{
                flex-direction: column;
                /* border: thick solid blue; */
            }
            .wrapper{
                width: 100%;
                /* border: thick solid blue; */

            }
            .wrapper-img{
                width: 100%;
                /* border: thick solid blue; */

            }
            .textbox{
                width: 100%;
                border: thick solid blue;
            }

            
        }

        .background-color-div {
            /* width: 100%; */
            /* height: 200px; */
            background-color: #262626;
            margin-top: 50px;
        }

        .padding-top-div {
            /* padding-top: 100px; */
            margin: auto;
            width: 95%;
        }
        .padding-top-div-two{
             margin: auto;
            width: 95%;
        }

        .main-color-div {
            width: 550px;
            /* margin: auto; */
            padding: 50px 0;
            border-radius: 20px;
            background-color: black;
        }

        .main-color-div-two {
            width: 600px;
            padding: 50px 0;
            border-radius: 20px;
            background-color: black;
        }

        .fit-div {
            width: 90%;
            margin: auto;
        }
        .find-h2-p{
            width: 90%;
            margin: auto;
        }

        .fit-h2 {
            font-family: "Encode Sans";
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: rgb(250, 250, 250);
        }

        .fit-p {
            font-family: Roboto;
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(163, 163, 163);
        }

        .margin-top {
            padding-top: 100px;
        }

        .indivdual {
            /* border: thick solid blue; */
            width: 140px;
            border-radius: 10px;
            background-color: #181717;
        }

        .indivdual-p {
            font-family: "UBA Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            color: rgb(212, 212, 212);
            text-align: center;
            padding-top: 10px;
        }

        .indivdual-flex {
            display: flex;
            gap: 20px;
            justify-content: center;
            padding-top: 30px;
        }

        .share-prize-p {
            font-family: Roboto, sans-serif;
            font-size: 28px;
            padding-top: 30px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(250, 250, 250);
        }

        .share-prize-second-p- {
            font-family: Roboto, sans-serif;
            font-size: 19px;
            padding-top: 20px;
            font-weight: 400;
            line-height: 24px;
            color: white;
        }

        .share-prize-flex {
            display: flex;
            gap: 302px;
            /* text-decoration: white underline; */
            padding-top: 20px;
        }

        .share-prize-flex-two {
            display: flex;
            gap: 302px;
            /* text-decoration: white underline; */
            padding-top: 20px;
        }

        .share-prize-flex-three {
            display: flex;
            gap: 270px;
            /* text-decoration: white underline; */
            padding-top: 20px;
        }

        .share-prize-flex-four {
            display: flex;
            gap: 320px;
            /* text-decoration: white underline; */
            padding-top: 20px;
        }

        .fit-p-two {
            font-family: Roboto, sans-serif;
            font-size: 14px;
            padding-top: 40px;
            font-weight: 400;
            line-height: 24px;
            color: rgb(163, 163, 163);
        }

        .dd {
            display: flex;
            gap: 30px;
            width: 90%;
            margin: auto;
        }

        .explore-more-details-a {
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            /* padding-top: 10px; */
            line-height: 24px;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }

        .Explore {
            padding-top: 10px;
        }

        .news-and-views-h1 {
            font-family: "UBA Sans", Roboto, sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            color: rgb(255, 255, 255);
        }

        .news-div {
            margin: auto;
            width: 92%;
        }

        .news-p {
            padding-top: 10px;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: rgb(250, 250, 250);
        }

        .wrapper {
            width: 50%;
            gap: 100px;
            border: thin solid black;
            border-radius: 30px 30px 20px 20px;
            background-color: #2F2F2F;
        }

        .wrapper-img {
            width: 100%;
            border-radius: 30px 30px 0 0;

        }

        .sqi {
            font-family: "UBA Sans", Roboto, sans-serif;
            font-size: 26px;
            font-weight: 400;
            padding-block: 10px;
            line-height: 34px;
            color: rgb(255, 255, 255);
        }

        .november {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: rgb(163, 163, 163);
            padding-block: 5px;

        }

        .ooo {
            display: flex;
            justify-content: space-between;
            /* gap: 50px; */
            /* width: 80%; */
            /* margin: auto; */
        }